{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %} {% endblock %}
        </title>
            {% block head_css %}
            {% endblock %}
        <link href="{% static 'leads/css/index.css' %}" rel="stylesheet" />
        <script src="{% static 'leads/scripts/index.js'%}"></script>

    </head>
    <body>
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>